<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IComputerData" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFPOC/WCFClientService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComputerData"
                contract="ClientService.IComputerData" name="BasicHttpBinding_IComputerData" />
        </client>
    </system.serviceModel>
</configuration>