<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HorusClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServerClientService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IClientSideService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:13000/ServerClientService/ServerClientService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServerClientService"
                contract="HorusServerClient.IServerClientService" name="NetTcpBinding_IServerClientService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:15000/UserClientService/UserClientService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IClientSideService"
                contract="HorusClientSide.IClientSideService" name="NetTcpBinding_IClientSideService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <HorusClient.Properties.Settings>
            <setting name="HorusServerAddress" serializeAs="String">
                <value>dev-server2012</value>
            </setting>
        </HorusClient.Properties.Settings>
    </applicationSettings>
</configuration>