<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IComputerData" />
      </netTcpBinding>
    </bindings>
    <Admin>
      <endpoint address="net.tcp://localhost:8000/WCFAdminService/AdminService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IComputerData"
          contract="AdminService.IComputerData" name="NetTcpBinding_IComputerData">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </Admin>
  </system.serviceModel>
</configuration>
